# AY 22/23 Winter Holidays Project

In [1]:
import numpy as np
import pandas as pd
pd.plotting.register_matplotlib_converters()
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import datetime as dt
print("Setup Complete")

Setup Complete

In [47]:
df = pd.read_csv('data/marketing_campaign.csv', sep='\t')

In [48]:
df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0

## Data Cleaning


__Attributes__:

People
- `ID`: Customer's unique identifier
- `Year_Birth`: Customer's birth year
- `Education`: Customer's education level
- `Marital_Status`: Customer's marital status
- `Income`: Customer's yearly household income
- `Kidhome`: Number of children in customer's household
- `Teenhome`: Number of teenagers in customer's household
- `Dt_Customer`: Date of customer's enrollment with the company
- `Recency`: Number of days since customer's last purchase
- `Complain`: 1 if the customer complained in the last 2 years, 0 otherwise

Products

- `MntWines`: Amount spent on wine in last 2 years
- `MntFruits`: Amount spent on fruits in last 2 years
- `MntMeatProducts`: Amount spent on meat in last 2 years
- `MntFishProducts`: Amount spent on fish in last 2 years
- `MntSweetProducts`: Amount spent on sweets in last 2 years
- `MntGoldProds`: Amount spent on gold in last 2 years

Promotion

- `NumDealsPurchases`: Number of purchases made with a discount
- `AcceptedCmp1`: 1 if customer accepted the offer in the 1st campaign, 0 otherwise
- `AcceptedCmp2`: 1 if customer accepted the offer in the 2nd campaign, 0 otherwise
- `AcceptedCmp3`: 1 if customer accepted the offer in the 3rd campaign, 0 otherwise
- `AcceptedCmp4`: 1 if customer accepted the offer in the 4th campaign, 0 otherwise
- `AcceptedCmp5`: 1 if customer accepted the offer in the 5th campaign, 0 otherwise
- `Response`: 1 if customer accepted the offer in the last campaign, 0 otherwise

Place

- `NumWebPurchases`: Number of purchases made through the companyâ€™s website
- `NumCatalogPurchases`: Number of purchases made using a catalogue
- `NumStorePurchases`: Number of purchases made directly in stores
- `NumWebVisitsMonth`: Number of visits to companyâ€™s website in the last month

In [55]:
print('Number of missing entries:', pd.isnull(df).sum().sum())
# Drop rows with missing entries
df = df.dropna()

Number of missing entries: 24

It appears as if `Z_CostContact` and `Z_Revenue` all have values equal to zero, so we will drop these columns

In [57]:
df = df.drop(['Z_CostContact', 'Z_Revenue'], axis=1)

KeyError: "['Z_CostContact' 'Z_Revenue'] not found in axis"

In [58]:
print('Categorical/String Columns:')
df.dtypes[df.dtypes == 'object']

Categorical/String Columns:

Education         object
Marital_Status    object
Dt_Customer       object
dtype: object

In [81]:
df['Marital_Status'].value_counts()

Married     857
Together    573
Single      474
Divorced    232
Widow        76
Name: Marital_Status, dtype: int64

In [80]:
df['Marital_Status'] = df['Marital_Status'].replace('Alone', 'Single')
df = df.drop(df.index[df['Marital_Status'] == 'Absurd'], axis=0)
df = df.drop(df.index[df['Marital_Status'] == 'YOLO'], axis=0)

What is the range of dates the customers registered?

'31-12-2013'